.hero-image{
  display: flex;
    height: 55rem;
    margin-left: 10rem;
    justify-content: center;

}
.hero-data{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    line-height: 50rem;
    justify-content: center;
}
/*@media only screen and (max-width: 600px) {*/
/*    .hero-image{*/
/*        display: flex;*/
/*        align-items: center !important;*/
/*        justify-content: center;*/
/*        height: 300px;*/
/*        margin-left: 6rem;*/
/*        margin-bottom: 10rem;*/
/*    }*/
/*    .hero-data{*/
/*        display: flex;*/
/*        margin-top: 50rem;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        justify-content: center;*/
/*    }*/
/*}*/